 <ul class="list-no-style">
  <li>
    <div class="card">
      <div class="image">
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/lXD5UR2dvXJF54AIBt8G2kDvYGk.jpg">
      </div>

      <div class="title">
        Withnail &amp; I
      </div>

      <div class="attributes">
        <ul class="inline">
          <li>V 230</li>
          <li>L en</li>
          <li>R 7.4</li>
          <li>U/A</li>
        </ul>
      </div>

      <div class="content">
        Two out-of-work actors -- the anxious, luckless Marwood and his acerbic, alcoholic friend, Withnail -- spend their days drifting between their squalid flat, the unemployment office and the pub. When they take a holiday \"by mistake\" at the country house of Withnail's flamboyantly gay uncle, Monty, they encounter the unpleasant side of the English countryside: tedium, terrifying locals and torrential rain.
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <div class="image">
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/lXD5UR2dvXJF54AIBt8G2kDvYGk.jpg">
      </div>

      <div class="title">
        Withnail &amp; I
      </div>

      <div class="attributes">
        <ul class="inline">
          <li>V 230</li>
          <li>L en</li>
          <li>R 7.4</li>
          <li>U/A</li>
        </ul>
      </div>

      <div class="content">
        Two out-of-work actors -- the anxious, luckless Marwood and his acerbic, alcoholic friend, Withnail -- spend their days drifting between their squalid flat, the unemployment office and the pub. When they take a holiday \"by mistake\" at the country house of Withnail's flamboyantly gay uncle, Monty, they encounter the unpleasant side of the English countryside: tedium, terrifying locals and torrential rain.
      </div>
    </div>
  </li>
</ul>
